<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Firebird_SQL_Monitor.Properties.Settings.ConnectionString"
            connectionString="Dsn=testfb1;Driver={Firebird/InterBase(r) driver};dbname=C:\praca\bazypcb\warowny\WAROWNY.GDB;charset=WIN1250;uid=SYSDBA;client=C:\Program Files\Firebird\Firebird_3_0\fbclient.dll"
            providerName="System.Data.Odbc" />
        <add name="Firebird_SQL_Monitor.Properties.Settings.ConnectionString1"
            connectionString="Dsn=aaa;Driver={Firebird/InterBase(r) driver};dbname=c:\praca\bazypcb\warowny\WAROWNY.GDB;charset=WIN1250;pwd=masterkey;uid=SYSDBA;client=C:\Program Files\Firebird\Firebird_3_0\fbclient.dll"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>